.bor {
  /* margin-top: 30px; */
  padding: 23px;
  width: 297px;
  height: 80px;
  background: #f3f6f9;
  border-radius: 4px 4px 0px 0px;
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #464e5f;
}
.bor:hover {
  background: #ffffff;
  color: #464e5f;
}
.bbb {
  margin-top: 30px;
}
